.feedback {
    min-height: 990px;
    padding-top: 9px;
    &__wrapper {
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.review-block {
    &:last-child {
        border-bottom: none;
    }
    display: flex;
    justify-content: left;
    width: 100%;
    min-height: 100px;
    padding: 45px 0;
    border-bottom: solid 1px #f6f6f6;
    img {
        width: 169px;
        height: 169px;
    }
    &__text {
        margin-left: 59px;
        min-width: 660px;
        min-height: 100px;
        h3 {
            font-size: 18px;
            font-weight: 500;
        }
        h4 {
            margin-top: 4px;
            margin-left: 2px;

            color: #646464;
            font-size: 14px;
            font-weight: 300;
        }
        p {
            margin-top: 15px;
            font-size: 16px;
            letter-spacing: -0.3px;
            padding-bottom: 5px;
        }
    }
}