.slider {
    height: 720px;
    padding-top: 175px;
    &__content {
        display: flex;
    }
    &__block {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        img {
            height: 390px;
            object-fit: contain;
        }
        &_active {
            display: flex;
        }
    }
    &__right {
        border: none;
        background-color: #fff;
        outline: none;
    }
    &__left {
        border: none;
        background-color: #fff;
        outline: none;
    }
}